{% extends '_base.html' %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm rounded-4">
                    <div class="card-body p-4">
                        <h1 class="card-title text-center fw-bold mb-4">
                            {% if form.instance.pk %}Editar Autor{% else %}Adicionar Novo Autor{% endif %}
                        </h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-primary btn-lg rounded-pill">Salvar</button>
                                <a href="{% url 'autores:autor_list' %}" class="btn btn-link mt-2">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
